# Server
public net.minecraft.server.MinecraftServer progressListenerFactory # progressListenerFactory
public net.minecraft.server.MinecraftServer executor # executor
public net.minecraft.server.MinecraftServer storageSource # storageSource

# World Gen
public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator settings # settings
public-f net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator globalFluidPicker # globalFluidPicker

public net.minecraft.world.level.levelgen.OreVeinifier$VeinType
public net.minecraft.world.level.levelgen.OreVeinifier$VeinType minY # minY
public net.minecraft.world.level.levelgen.OreVeinifier$VeinType maxY # maxY

public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$Condition
public net.minecraft.world.level.levelgen.SurfaceRules$LazyYCondition
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$Context <init>(Lnet/minecraft/world/level/levelgen/SurfaceSystem;Lnet/minecraft/world/level/levelgen/RandomState;Lnet/minecraft/world/level/chunk/ChunkAccess;Lnet/minecraft/world/level/levelgen/NoiseChunk;Ljava/util/function/Function;Lnet/minecraft/core/Registry;Lnet/minecraft/world/level/levelgen/WorldGenerationContext;)V # <init>
public net.minecraft.world.level.levelgen.SurfaceRules$Context biome # biome
public net.minecraft.world.level.levelgen.SurfaceRules$Context chunk # chunk
public net.minecraft.world.level.levelgen.SurfaceRules$Context randomState # randomState
public net.minecraft.world.level.levelgen.SurfaceRules$Context updateXZ(II)V # updateXZ
public net.minecraft.world.level.levelgen.SurfaceRules$Context updateY(IIIIII)V # updateY
public net.minecraft.world.level.levelgen.SurfaceRules$Context biomeGetter # biomeGetter

public-f net.minecraft.world.level.biome.Biome
public net.minecraft.world.level.biome.Biome <init>(Lnet/minecraft/world/level/biome/Biome$ClimateSettings;Lnet/minecraft/world/level/biome/BiomeSpecialEffects;Lnet/minecraft/world/level/biome/BiomeGenerationSettings;Lnet/minecraft/world/level/biome/MobSpawnSettings;)V # <init>

# Cinematics
public net.minecraft.world.entity.Entity xRot # xRot
public net.minecraft.world.entity.Entity yRot # yRot
public net.minecraft.world.entity.player.Player abilities # abilities
public net.minecraft.client.Options bobView # bobView

# Recipes
public net.minecraft.world.item.crafting.AbstractCookingRecipe result # result

# Container
public-f net.minecraft.world.inventory.Slot x # x
public-f net.minecraft.world.inventory.Slot y # y
public net.minecraft.world.item.ItemStack components # components
public net.minecraft.server.level.ServerPlayer containerCounter # containerCounter
public net.minecraft.server.level.ServerPlayer nextContainerCounter()V # nextContainerCounter
public net.minecraft.server.level.ServerPlayer initMenu(Lnet/minecraft/world/inventory/AbstractContainerMenu;)V # initMenu

# Rendering
public net.minecraft.client.renderer.MultiBufferSource$BufferSource fixedBuffers # fixedBuffers
public net.minecraft.client.renderer.MultiBufferSource$BufferSource sharedBuffer # sharedBuffer
public net.minecraft.client.renderer.LevelRenderer skyBuffer # skyBuffer
public net.minecraft.client.renderer.LevelRenderer starBuffer # starBuffer
public net.minecraft.client.renderer.LevelRenderer darkBuffer # darkBuffer
